<div class="container">
    <div class="w-200 card p-1 mt-4">
        <fieldset>
            <legend style="font-family: sans-serif;padding: 20px;">PDF Data Extraction</legend>
        </fieldset>        
        <form>
        <div>
            <ul >
                <input type="radio" (click)="dataUpload()" name="data" id="radio"> Data Upload
                <input type="radio" (click)="sourceCopy()" name="data" id="radio"> Source Copy                
            </ul>
        </div>
    </form>
    </div>
</div>