.textboxsize{
    width: 250px !important;
  }
  .btnsave{
    height: 32px;
    padding: 5px 28px;
    background: #41c141;
    color: white;
    width: 150px;
    border:none;
    border-radius: 2px;
    cursor: pointer !important;
  }
  .mandatory{
    color: red;
    margin-left: 5px;
  }
  #tblself tr td{
      padding:5px;
  }
  .maintbl{
    margin-left: 25%;
    margin-top: 5%;
  }
  .errormessage{
    color: red;
    font-size: 12px;
  }
