<div class="row">
    <div class="col-sm-bg-6">
      <h1 class="innerT">Change Password</h1>
<div class="form-group">            
    <input type="password" class="form-control" name="oldpassword" onmouseover="this.type='text'" onmouseout="this.type='password'" [(ngModel)]="form.oldpassword" placeholder="Enter Old Password"
      required minlength="4" #oldpassword="ngModel"/> <br> 
      <input type="password" class="form-control" name="password" onmouseover="this.type='text'" onmouseout="this.type='password'" [(ngModel)]="form.password" placeholder="Enter New Password"
      required minlength="4" #oldpassword="ngModel"/> <br>   
      <input type="password" class="form-control" name="confirmpassword" onmouseover="this.type='text'" onmouseout="this.type='password'" [(ngModel)]="form.confirmpassword" placeholder="Confirm Password"
      required minlength="4" #oldpassword="ngModel"/><br> 
      <input type="number" class="form-control" name="phone" onmouseover="this.type='number'" onmouseout="this.type='phone'" [(ngModel)]="form.phone" placeholder="Phone Number"
       #oldpassword="ngModel"/> <br> 
      <input type="email" class="form-control" name="email" onmouseover="this.type='email'" onmouseout="this.type='email'" [(ngModel)]="form.email" placeholder="Email"
       #oldpassword="ngModel"/> 
  </div><br>
  <div class="form-group" style="text-align: center;">
    <button class="btn btn-info" style="width: 100px;margin: 10px;" (click)="onClick()">
      Submit
    </button>
    <button class="btn btn-info" style="width: 100px;margin: 10px" (click)="close()">
        Close
      </button>
  </div>     
</div>
</div>

