<div class="w-100 card p-1 mt-1">
    <div class="row col-12 col-lg-12 col-md-12">
        <form>
            <label for="datefrom">State
                <select >
                    <option>Select</option>
                    <option></option>
                </select>
            </label>
            <label for="receiveddate">Recieved Date
                <select>
                    <option>Select</option>
                    <option></option>
                </select>
            </label>
            <label for="releaseddate">Released Date
                <select>
                    <option>Select</option>
                    <option></option>
                </select>
            </label>
        </form>
    </div>
</div>